*{
  margin: 0;
  padding: 0;
}

body{
  font-family: sans-serif;
}

#nav-bar{
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar{
  background-color: #263643;
  padding: 0 50px !important;
  height: 75px;
}

.navbar-brand img{
  height: 50px;
  padding-left: 10px;
}

.navbar-nav li{
  padding: 0 15px;
}

.navbar-nav li a{
  color: #fff !important;
  font-weight: 750;
  float: right;
  text-align: left;
  transition: 0.5s ease;
}

ul li a:hover{
  background-color: #27ae60;
  color: #000;
}

.fa-bars{
  color: #fff;
  font-size: 30px !important;
}

.navbar-toggler{
  outline: none !important;
}

/*---------- Banner Section ----------*/

#banner{
  background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(https://wallpapercave.com/wp/wp4748439.jpg);
  color: #fff;
  padding-top: 7.5%;
  padding-bottom: 15%;
  height: 75vh;
  background-size: cover;
  background-position: center;
}

.promo-header1{
  font-size: 100px;
  font-weight: 700px;
  margin-top: 100px;
}

.promo-header2{
  font-size: 50px;
}

.cover-img{
  width: 300px;
}


/*---------- Footer Section -----------*/

#footer{
  max-width: 100%;
  height: auto;
  background: #2c3e50;
  padding: 25px 10%;
}

.footer-social-icons ul{
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.footer-social-icons ul li{
  display: inline-block;
  width: 75px;
  height: 75px;
  margin: 0 10px;
  border-radius: 100%;
  background: #27ae60;
}

.footer-social-icons{
  width: 100%;
  height: auto;
  margin: auto;
}

.footer-social-icons ul li a{
  color: #2c3e50;
  font-size: 35px;
}

.footer-social-icons ul li a i{
  line-height: 75px;
}

.copyrights{
  font-size: 20px;
  margin-top: 10px;
  padding: 5px;
  text-align: center;
  color: #fff;
}
